.container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }

  body{
    background-image: url(https://t4.ftcdn.net/jpg/05/84/74/17/360_F_584741733_7vSebAm94XMdjFN8Ce1X496wOYGLQbQl.jpg);
    border-style: solid;
    border-color:greenyellow;
    
  
    
  }

 h1,p {
    color: greenyellow;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
 }





